html,body{
  display:flex;
  flex-direction:column;
  height:100%;
}

ul,li{
  margin:0;
  list-style:none;
  padding:0;
}
* {
  box-sizing: border-box;
}
.pc-only{
  display:none;
}
a{
  text-decoration: none;
}
img{
  max-width:100%;
}
.col-sm-12 figure{
  margin-bottom:30px;
}
@media(min-width:769px){
  .pc-only{
    display:block;
  }
}

/*********** FONTS ****************/
h1,h2,h3{
  font-family:$font-family-serif;
  font-weight:bold;
}
h3{
  font-size:20px;
  line-height:35px;
  margin:0 0 30px 0;
  text-align:center;
}
p{
  font-size:14px;
  line-height:30px;
  color:$color-paragraph;
  text-align:justify;
  margin-bottom:20px;
}
p.imp-ttl-large{
  font-family:$font-family-serif;
  color:$text-color;
  font-size:16px;
  line-height:16px;
  white-space: nowrap;
  text-align:center;
  position:relative;
  padding-bottom:12px;
  margin-bottom:30px;
  font-weight:bold;
}
p.imp-ttl-large::after{
  display:block;
  content:"";
  height:3px;
  position:absolute;
  width:70px;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  background-color:$color-secondary;
}
h2.imp-section-title{
  font-size:18px;
  line-height:32px;
  margin-bottom:30px;
}
h2.imp-section-title small{
  display:block;
  font-size:20px;
  line-height:20px;
  margin-bottom:25px;
  color:$color-secondary;
}
@media(min-width:769px){
  h3{
    font-size:30px;
    line-height:43px;
    text-align:justify;
  }
  p{
    font-size:16px;
    line-height:30px;
    text-align:justify;
  }
  p.imp-ttl-large{
    text-align:left;
    font-size:20px;
    line-height:20px;
    padding-bottom:20px;
  }
  p.imp-ttl-large::after{
    left:0;
    transform: none;
  }
  h2.imp-section-title{
    font-size:30px;
    line-height:42px;
    margin-bottom:30px;
  }
}

/*************** BUTTONS **************/
.imp-button-wrapper{
  display:flex;
  justify-content: center;
  a{
    display:block;
    position:relative;
    font-size:18px;
    font-weight:bold;
    color:$text-color;
    text-decoration: none;
    line-height:18px;
    white-space: nowrap;
    padding:20px 20px;
  }
  a::before,
  a::after{
    content:"";
    display:block;
    position:absolute;
    left:0;
    width:100%;
    background-color:$color-secondary;
    height:5px;
    z-index:1;
  }
  a::before{
    top:0;
  }
  a::after{
    bottom:0;
  }
}
@media(min-width:769px){
  .imp-button-wrapper{
    a{
      transition:0.3s ease-in-out;
    }
    a::before{
      top:auto;
      bottom:0;
      transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    a:hover::before{
      top:auto;
      bottom:100%;
    }
    a:hover{
      color:transparentize($color-primary, 0.3);
    }
  }
}