#site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zindex-navbar;
  padding: 7px 0;
  height: 54px;
  transition: all 0.3s ease-in-out;
  background-color: $nav-mobile-bg;
  .header--contact,
  .header--main-nav,
  .header--contact-sm {
    display: none;
  }
  h1 {
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    img {
      display: block;
      width: auto;
      max-height: 40px;
    }
  }
  .large-wrapper {
    display: flex;
    align-items: center;
  }
  .header--hamb {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .hamburger {
      height: 40px;
      width: 40px;
      border: none;
      padding: 0;
      margin: 0;
      position: relative;
      overflow: hidden;
      background: none;
      :hover {
        cursor: pointer;
      }
      .line {
        height: 1px;
        width: 21px;
        position: absolute;
        background-color: $color-secondary;
        left: 50%;
        top: 50%;
        transition: all 0.3s ease;
      }
      .line:nth-of-type(1) {
        transform: translate(-50%, -5px);
      }
      .line:nth-of-type(2) {
        transform: translate(-50%, -50%);
      }
      .line:nth-of-type(3) {
        transform: translate(-50%, 5px);
      }
    }
  }
}
body.nav-open #site-header .header--hamb .hamburger {
  .line:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
  }
  .line:nth-of-type(2) {
    transform: translate(-200%, -100%);
    opacity: 0;
  }
  .line:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
    transform-origin: center;
  }
}
body.scrolled #site-header {
  background-color: $nav-scroll-bg;
}
body.admin-bar {
  #site-header {
    top: 46px;
    position: absolute;
  }
}
@media (min-width: 601px) {
  body.admin-bar {
    #site-header {
      position: fixed;
    }
  }
}
@media (min-width: 783px) {
  body.admin-bar {
    #site-header {
      top: 32px;
    }
  }
}
@media (min-width: 992px) {
  #site-header {
    background-color: transparent;
    h1 {
      padding-right: 40px;
    }
    .header--main-nav {
      display: block;
    }
    .header--hamb {
      display: none;
    }
    .header--contact-sm {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      a {
        display: block;
        font-size: 16px;
        border: 3px solid $header-nav-link-hover-color;
        color: $header-nav-link-hover-color;
        padding: 5px 20px;
        line-height: 18px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
      }
      a:hover {
        color: white;
        background-color: $header-nav-link-hover-color;
      }
    }
  }
  #site-header{
    transform:translateY(-100%);
  }
  body.loaded #site-header{
    transform: translateY(0);
  }
}
@media (min-width: 1328px) {
  #site-header {
    h1 {
      width: 275px;
    }
    .header--contact {
      display: block;
    }
    .header--contact-sm {
      display: none;
    }
  }
}
.header--main-nav {
  ul.menu {
    display: flex;
    li {
      a {
        color: $header-nav-link-color;
        font-size: 18px;
        display: block;
        text-decoration: none;
        line-height: 18px;
        padding: 10px 20px;
        margin: 0 20px 0 0;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease-in-out;
      }
      a:hover {
        color: transparentize($color: $header-nav-link-hover-color, $amount: 0.1);
        border-color: transparentize($color: $header-nav-link-hover-color, $amount: 0.3);
      }
    }
    li.current_page_item {
      a {
        color: $header-nav-link-hover-color;
        border-color: $header-nav-link-hover-color;
      }
    }
  }
}
.header--contact {
  flex-grow: 1;
  ul {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    li {
      margin-left: 20px;
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 18px;
      strong {
        font-weight: normal;
        display: flex;
        align-items: center;
        margin-right: 5px;
      }
      strong::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 3px;
        background-color: $header-nav-link-hover-color;
        margin-right: 13px;
      }
      a {
        color: $header-nav-link-color;
        text-decoration: none;
        transition: 0.3s ease-in-out;
      }
      a:hover {
        color: $header-nav-link-hover-color;
      }
    }
  }
}

#mobile-drawer {
  background-color: transparentize($body-bg, 0.7);
  position: fixed;
  top: 54px;
  left: 0;
  width: 100%;
  z-index: 500;
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  overflow-y: scroll;
  ul {
    background-color: $body-bg;
  }
  li {
    border-top: 1px solid $color-secondary;
  }
  li:last-of-type {
    border-bottom: 1px solid $color-secondary;
  }
  li a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
  }
}
body.nav-open #mobile-drawer {
  max-height: 100%;
}
@media(min-width:768px){
  #mobile-drawer{
    display:none;
  }
}





.header--main-nav li.menu-item-has-children{
  position:relative;
}
.header--main-nav ul.sub-menu{
  position:absolute;
  top:100%;
  padding-top:0px;
  left:0;
  width:200px;
  filter:drop-shadow(0px 0px 2px rgba(0,0,0,0.4));
  overflow:hidden;
  max-height:0;
  transition: 0.3s ease-in-out;
  opacity:0;
}
.header--main-nav ul.sub-menu li{
  background-color:#18181a;
  position:relative;
  padding:0;
  margin:0;

}
.header--main-nav ul.sub-menu li:first-of-type::before{
  content:"";
  height:0;
  width:0;
  border-top:10px solid transparent;
  border-bottom:10px solid #18181a;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  position:absolute;
  top:-20px;
  left:50%;
  display:block;
  transform:translateX(-260%);
}

.header--main-nav li.menu-item-has-children:hover ul.sub-menu{
  max-height:2000px;
  padding-top:15px;
  opacity:1;
}
.header--main-nav li.menu-item-has-children:hover a{
  border-bottom:none;
}
.header--main-nav ul.sub-menu li a,
.header--main-nav ul.sub-menu li:hover a{
  display:block;
  width:100%;
  margin:0;
  font-size:14px;
  text-align:center;
  border-bottom:1px solid #b89d85!important;
  line-height:14px;
  padding:18px 10px;
}
.header--main-nav ul.sub-menu li:last-of-type a{
  border-bottom:none!important;
}


#mobile-drawer ul.sub-menu li:last-of-type{
  border-bottom:none;
}
#mobile-drawer ul.sub-menu{
  background-color:rgba(255,255,255,0.1);
  overflow:hidden;
  max-height:0;
  transition:all 0.3s ease-in-out;
}
#mobile-drawer li.menu-item-has-children a{
  position:relative;
}
#mobile-drawer li.menu-item-has-children a::after{
  content:"";
  position:absolute;
  right:20px;
  font-family: "Font Awesome 5 Free", "FontAwesome", FontAwesome;
  content: "\f107";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color:#b89d85;
  transition:all 0.3s ease-in-out;
}
#mobile-drawer li.menu-item-has-children ul a::after{
  display:none;
}
#mobile-drawer li.menu-item-has-children.active a::after{
  transform:rotate(-90deg);
}
#mobile-drawer li.menu-item-has-children.active ul.sub-menu{
  max-height:2000px;
}