// Colors
// =================================================
$brand-primary: #153fa6;

$min-width: 769px;

$color-primary: #fff;
$color-secondary: #b89d85;
$color-sub: #313134;
$color-paragraph : #969699;

$nav-scroll-bg: #18181a;
$nav-mobile-bg: #18181a;

$header-nav-link-color: #fff;
$header-nav-link-hover-color: #b89d85;

@font-face {
  font-family: "MyYuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"), /* PostScript Name = localの正式な指定方法 */ local("Yu Gothic Medium"),
    /* PostScript Nameを認識できないChrome用にFull Nameを指定 */ local("YuGothic-Regular"); /* 游ゴシックMediumが存在しないWindows8.1用 */
}
@font-face {
  font-family: "MyYuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"), /* PostScript Name = localの正式な指定方法 */ local("Yu Gothic"); /* PostScript Nameを認識できないChrome用にFull Nameを指定 */
}
