.dot-content{
  padding:80px 0;
}
.dot-content.page-item{
  padding:0;
}
.dot-content h2{
  font-size:20px;
  text-align:center;
  line-height:35px;
  margin-bottom:35px;
}
.dot-content h2::before{
  content:"";
  display:block;
  height:28px;
  width:28px;
  background-color:$color-secondary;
  margin:0 auto 50px auto;
  border-radius:100%;
}
.dot-content .row{
  margin-bottom:40px;
}
.dot-content .row .col-sm-12:last-of-type p{
  margin-bottom:0;
}
@media(min-width:769px){
  .dot-content{
    padding:160px 0;
  }
  .dot-content.page-item{
    padding:50px 0 80px 0;
  }
  .dot-content h2{
    font-size:37px;
    line-height:55px;
    margin-bottom:80px;
  }
  .dot-content .row{
    margin-bottom:80px;
  }
  .dot-content .row  p{
    margin-bottom:0;
  }
  .dot-content h2::before{
    margin:0 auto 60px auto;
  }
}